<div class="comments-container">
  <h3>Comments</h3>
  <div class="comment-form">
    <app-add-comment [blogId]="blogId" />
  </div>

  @for(comment of comments; track comment.id){
  <div class="comment">
    <div class="comment-text">
      <p class="comment-username">
        {{ comment.user.username.split("@")[0] | titlecase }}:
      </p>
      <p class="comment-content">{{ comment.comment }}</p>
    </div>
    <button mat-icon-button (click)="deleteComment(comment.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  }
</div>
