<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Change Password</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      [formGroup]="passwordForm"
      (ngSubmit)="onSubmit()"
      class="form-container"
    >
      <!-- Old Password -->
      <div class="form-group">
        <mat-form-field>
          <mat-label>Old Password</mat-label>
          <input
            matInput
            [type]="hideOld() ? 'password' : 'text'"
            formControlName="currentPassword"
            placeholder="Enter your old password"
          />
          @if(passwordForm.get('currentPassword')?.touched &&
          passwordForm.get('currentPassword')?.invalid) {
          <mat-error> Old password is required </mat-error>
          }
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideOld()"
          >
            <mat-icon>{{
              hideOld() ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <!-- New Password -->
      <div class="form-group">
        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input
            matInput
            [type]="hideNew() ? 'password' : 'text'"
            formControlName="newPassword"
            placeholder="Enter your new password"
          />
          @if(passwordForm.get('newPassword')?.touched &&
          passwordForm.get('newPassword')?.hasError('required')) {
          <mat-error> New password is required </mat-error>
          } @if(passwordForm.get('newPassword')?.touched &&
          passwordForm.get('newPassword')?.hasError('minlength')) {
          <mat-error> Password must be at least 6 characters </mat-error>
          }
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="clickEventNew($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideNew()"
          >
            <mat-icon>{{
              hideNew() ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <!-- Confirm Password -->
      <div class="form-group">
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            [type]="hideConfirm() ? 'password' : 'text'"
            formControlName="confirmPassword"
            placeholder="Re-enter new password"
          />
          @if(passwordForm.get('confirmPassword')?.touched &&
          passwordForm.get('confirmPassword')?.hasError('required')) {
          <mat-error> Confirm password is required </mat-error>
          } @if(passwordForm.get('confirmPassword')?.touched &&
          passwordForm.hasError('passwordsMismatch')) {
          <mat-error> Passwords do not match </mat-error>
          }
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="clickEventConfirm($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideConfirm()"
          >
            <mat-icon>{{
              hideConfirm() ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <!-- Error Message -->
      <mat-error>{{ error }}</mat-error>

      <!-- Submit Button -->
      <mat-card-actions>
        <button
          mat-flat-button
          type="submit"
          [disabled]="passwordForm.invalid"
          class="full-width"
        >
          Change Password
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
