.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: white;
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  color: white;
  background-color: rgb(66, 118, 196);
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active {
  font-weight: bold;
  border-bottom: 2px solid #2f6dff;
}
